---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import PocketBase from 'pocketbase';

const pb = new PocketBase('http://127.0.0.1:8090');
---

<Layout titre="Accueil">
    <h1>Les rives du territoire 2026</h1> 
</Layout>
