<div class="flex flex-col items-center text-center gap-4 bg-white text-black py-6">
    <p class="text-xl font-bold">
      Les rives du territoire
    </p>

    <div class="flex gap-4">
      <img src="/insta.svg" alt="Instagram" class="w-6 h-6" />
      <img src="/fcb.svg" alt="Facebook" class="w-6 h-6" />
      <img src="/twitter.svg" alt="Twitter" class="w-6 h-6" />
      <img src="/ytb.svg" alt="Youtube" class="w-6 h-6" />
    </div>

    <p class="text-xs text-gray-600">
      © 2026 Les rives du territoire
    </p>
    <p class="text-xs text-gray-600">
         Tous droits réservés.
    </p>
</div>