---
---

<header class="w-full border-b border-gray-200 bg-white">
  <div class="mx-auto flex max-w-7xl items-center justify-between px-6 py-4">
    <a href="/" class="text-lg font-semibold tracking-wide">
      Les rives du territoire
    </a>
    <button class="flex flex-col justify-between w-6 h-5">
  <span class="block h-0.5 w-full bg-black"></span>
  <span class="block h-0.5 w-full bg-black"></span>
  <span class="block h-0.5 w-full bg-black"></span>
</button>
  </div>
</header>